body {
	font-family: 'Varela Round';
}

.dp-web-container {
	padding-top: 64px;
	padding-right: 8px;
	padding-left: 8px;
	max-width: 425px;
	margin: auto;
}

.dp-web-avatar {
	width: 96px;
	border-radius: 50%;
}

.dp-web-fullname {
	font-size: 18px;
	font-weight: 600;
}

.dp-web-title {
	font-size: 14px;
	color: #c5c5c5;
}

.accordion i {
	-webkit-transition: all 0.4s ease;
  	-o-transition: all 0.4s ease;
  	transition: all 0.4s ease;
}

.accordion .dp-web-btn-section.collapsed i.bi-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}