body {
  background-color: #000000;
  color: #ffffff;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.cursor-pointer {
  cursor: pointer;
}

.body::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.undangan-container {
  max-width: 1000px;
  margin: auto;
  position: relative;
  padding: 64px 24px;
}

.card-rsvp {
  max-height: 319px;
  overflow-y: scroll;
  background: #ffffff;
  color: #000000;
  text-align: left;
  padding: 24px;
  border-radius: 10px;
}
.card-rsvp .nama {
  color: #F5DE08;
  font-weight: 500;
}

#countdown {
  bottom: 30px;
  left: 30px;
  position: fixed;
  background: #ffffff;
  color: #000000;
  border-radius: 8px;
  padding: 4px;
  opacity: 0.5;
}
#countdown .countdown-label {
  font-size: 8px;
}

.hidden {
  display: none !important;
  transition: all 2s;
}

.overflow-disable {
  overflow: hidden;
}

.font-styled {
  font-family: 'Great Vibes';
}

.highlight-text {
  color: #FBE310;
}

.cover-container {
  text-align: center;
  padding-top: 30vh;
}

#boxpembuka {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000;
  z-index: 999;
  width: 100%;
  height: 200vh;
  display: block;
}

.undangan-container .section {
  padding: 2rem 0;
}

.undangan-container .section-text {
  padding: 1rem 0;
}

.undangan-container .logo {
  width: 120px;
}

#qrcode-location {
  width: 100%;
}

#fab-menu {
  bottom: 30px;
  right: 30px;
  position: fixed;
}

.modal .modal-dialog .modal-content {
  color: #000000;
}

@media (min-width: 576px) {
  .web-only {
    display: block;
  }
  .mobile-only {
    display: none;
  }
}

/* mobile styles */
@media (max-width: 575px) {
  body {
    font-size: 12px;
  }

  .undangan-container {
    padding: 32px 24px;
  }

  h4 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 1rem;
  }
  h3 {
    font-size: 1.5rem;
  }

  .web-only {
    display: none;
  }
  .mobile-only {
    display: block;
  }
}
